/* styles/Header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px; /* Adjust height if needed */
  background-color: #756bb3;
  color: white;
  font-family: 'Jersey 10', sans-serif;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
